
// CSS variables (used instead of SASS variables for simpler light/dark mode integration)
:root {
    --dark: #231942;
    --meddark: #5e548e;
    --med: #9f86c0;
    --medlight: #be95c4;
    --light: #e0b1cb;
    --text: #f3e0ea;
    --lum: #d8acd4d1;
}

@media (prefers-color-scheme: light) {
    :root {
        --dark: #e0b1cb;
        --meddark: #be95c4;
        --med: #9f86c0;
        --medlight: #be95c4;
        --light: #5e548e;
        --text: #50487a;
        --lum: #855992d1;
    }
}
// $test: #db80a3c5;
// $test2: #e277a0b3;