@import './variables';

h1 {
    font-size: 42px;
    color: var(--text);
    text-align: center;
    margin-top: 0;
}

.place-header {
    text-align: center;
    padding: 0 30px 30px 30px;
    margin: 0 25px;
    border-top: 1px solid var(--medlight);

    .spinner-holder {
        height: 116px;
        display: grid;
        place-items: center;
    }

    .spinner {
        height: 50px;
        width: 50px;
        margin-top: 30px;
        background: var(--dark);
        border-radius: 50%;
        border-top: 2px solid var(--light);
        border-right: 2px solid transparent;
        border-bottom:none;
        border-left:none;
        animation: spinner5 700ms linear infinite;
    }

    @keyframes spinner5 {
        to {
            transform: rotate(360deg);
        }
    }

    #place-header {
        text-align: center;
        font-size: 46px;
        display: none;
        margin: 0;
        padding: 30px 0 15px 0;
        border-top: 1px solid var(--medlight);
    }

    #posts-from-here {
        color: var(--light);
        display: none;
        border-radius: 14px;
        transition: .17s ease-in-out;
        cursor: pointer;

        .fas {
            padding: 2px 0 0 18px;
            position: absolute;
            display: none;
            color: var(--dark);
        }

        &:hover {
            color: var(--text);
            background-color: var(--med);
            padding: 4px 40px 4px 8px;

            .fas {
                display: inline-block;
            }
        }
    }

    @media (prefers-color-scheme: light) {
        #posts-from-here {
            // color: var(--med)
        }
    }
}


.search {
    display: grid;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;

    .search-icon-holder {
        margin-bottom: 10px;
    }

    .fas {
        position: absolute;
        padding-left: 15px;
        padding-top: 14px;
        font-size: 26px;
        color: var(--med);
        z-index: 1;
    }

    input {
        position: relative;
        height: 60px;
        width: 50vw;
        min-width: 325px;
        max-width: 600px;
        justify-self: center;
        padding: 10px 20px 10px 55px;
        font-size: 18px;
        color: var(--text);
        background-color: var(--meddark);
        border-color: var(--medlight);
        border-radius: 6px;

        &::placeholder {
            color: var(--med);
        }
    }
}

.iframe {
    background-color: var(--dark);
    opacity: .7;
    z-index: 10;
    height: 600px;
    grid-column: span 2;

    iframe {
        width: 100%;
        height: inherit;
        border: 5px solid var(--meddark);
        border-radius: 6px;
    }
}
@media (prefers-color-scheme: light) {
    .iframe {
        opacity: 1;
    }
}


.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .timedate, .weather {
        transition: .05s eas;
        &:hover {
            outline: 1px solid var(--light);
            -webkit-box-shadow: 0 0 10px 6px var(--light);
            box-shadow: 0 0 6px 3px var(--light);
        }
    }

    .box {
        position: relative;
        width: 100%;
        padding: 0 20px 20px 20px;
        background-color: var(--meddark);
        // padding: 0 20px;
        border-radius: 6px;
        color: var(--text);
        font-size: 18px;
        // -webkit-box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.3); 
        // box-shadow: 2px 3px 12px 10px rgba(0,0,0,.3);

        .rise-set {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            grid-column: span 3;
            border-bottom: 1px solid var(--med);
            gap: 16px;

            .rise, .set {
                margin-top: 38px;
            }
        }

        .box-inner {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            gap: 16px;

            .object {
                display: flex;
                align-items: center;
                gap: 10px;

                .fas, .fab {
                    font-size: 24px;
                }
            }

            p {
                display: contents;
            }   
            span {
                font-size: 12px;
            }

            #lum {
                margin-left: -5px;
                letter-spacing: 1px;
                color: var(--lum);
            }
        }

        .atmo {
            display: flex;
            justify-content: space-between;
            margin-top: 17px;

            p {
                margin: 0;
                padding-right: 15px;
            }
        }

        h3 {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 0;
            border-bottom: 1px solid var(--med);
        }

        .chart-container {
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
            bottom: 0;

            canvas {
                padding: 18px;
            }

            #windChart, #cloudChart {
                height: 100%!important;
                width: 100%!important;
            }
        }
    }

    .hourly {
        height: 500px;
    }

    // Why does this brake the others?
    @media only screen and (max-width: 800px) {
        .hourly {
            grid-column: span 2;
        }
    }
}

@media only screen and (max-width: 630px) {
    // .info {
    //     // grid-template-columns: 1fr 1fr;
    // }

    .box {
        grid-column: span 2;
    }
}