@import './variables';

h1 {
    font-size: 42px;
    color: $text;
    text-align: center;
    margin-top: 0;
}

.place-header {
    text-align: center;
    padding: 0 30px 30px 30px;
    margin: 0 30px;
    border-top: 1px solid $medlight;

    .spinner-holder {
        height: 116px;
        display: grid;
        place-items: center;
    }

    .spinner {
        height: 50px;
        width: 50px;
        margin-top: 30px;
        background: $dark;
        border-radius: 50%;
        border-top: 2px solid $light;
        border-right: 2px solid transparent;
        border-bottom:none;
        border-left:none;
        animation: spinner5 700ms linear infinite;
    }

    @keyframes spinner5 {
        to {
            transform: rotate(360deg);
        }
    }

    #place-header {
        text-align: center;
        font-size: 46px;
        display: none;
        margin: 0;
        padding: 30px 0 10px 0;
        border-top: 1px solid $medlight;
    }

    a {
        color: $light;
        display: none;
        border-radius: 14px;
        transition: .17s ease-in-out;
        cursor: pointer;

        .fas {
            padding: 2px 0 0 18px;
            position: absolute;
            display: none;
            color: $dark;
        }

        &:hover {
            color: $text;
            background-color: rgba($medlight, .9);
            padding: 4px 40px 4px 8px;

            .fas {
                display: inline-block;
            }
        }
    }
}


.search {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    input {
        height: 60px;
        width: 50vw;
        min-width: 325px;
        max-width: 600px;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        color: $text;
        background-color: $meddark;
        border-color: $medlight;
        border-radius: 6px;

        &::placeholder {
            color: $med;
        }
    }
}

.iframe {
    background-color: $dark;
    opacity: .7;
    z-index: 10;
    height: 600px;
    margin-bottom: 20px;
    grid-column: span 2;

    iframe {
        width: 100%;
        height: inherit;
        border: 5px solid $meddark;
        border-radius: 6px;
    }
}


.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .timedate {
        &:hover {
            outline: 1px solid rgba($light, .6);
            box-shadow: 0 0 10px 6px rgba($light, .6);
        }
    }


    .box {
        position: relative;
        width: 100%;
        background-color: $meddark;
        padding: 0 20px;
        border-radius: 6px;
        color: $text;
        font-size: 18px;
        // -webkit-box-shadow: 0px 0px 12px 10px rgba(0,0,0,0.3); 
        // box-shadow: 2px 3px 12px 10px rgba(0,0,0,.3);

        .rise-set {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            grid-column: span 3;
            border-bottom: 1px solid $med;
            gap: 16px;

            .rise, .set {
                margin-top: 38px;
            }
        }

        .box-inner {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            gap: 16px;
            padding-bottom: 20px;

            .object {
                display: flex;
                align-items: center;
                gap: 10px;

                .fas, .fab {
                    font-size: 24px;
                }

                // img {
                //     height: 24px;
                //     width: 24px;
                // }
            }

            p {
                display: contents;
            }   
            span {
                font-size: 12px;
            }

            #lum {
                margin-left: -5px;
                letter-spacing: 1px;
                color: rgba(216, 172, 212, 0.822);
            }
        }

        h3 {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 0;
            border-bottom: 1px solid $med;
        }

        .chart-container {
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
            bottom: 0;

            canvas {
                padding: 18px;
            }

            #windChart, #cloudChart {
                height: 100%!important;
                width: 100%!important;
            }
        }
    }

    .hourly {
        height: 500px;
    }

    // Why does this brake the others?
    @media only screen and (max-width: 800px) {
        .hourly {
            grid-column: span 2;
        }
    }
}

@media only screen and (max-width: 630px) {
    // .info {
    //     // grid-template-columns: 1fr 1fr;
    // }

    .box {
        grid-column: span 2;
    }
}