main {
  display: grid;
  align-content: center;
  padding-top: 20px; }

.header {
  height: 68px;
  width: 100%;
  max-width: 800px;
  justify-self: center;
  display: flex;
  gap: 40px;
  justify-content: center; }
  .header a {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: auto 0;
    width: 116px;
    padding-left: 10px; }
  @media only screen and (min-width: 600px) {
    .header a {
      font-size: 32px;
      width: 170px; } }
  .header .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 156px); }
    .header .search input {
      height: 50px;
      width: 100%;
      min-width: 100px;
      padding: 10px;
      font-size: 18px;
      color: #f3e0ea;
      background-color: #5e548e;
      border-color: #be95c4;
      border-radius: 6px; }
      .header .search input::placeholder {
        color: #9f86c0; }

.new-post {
  height: 50px;
  width: 100%;
  max-width: 800px;
  justify-self: center;
  padding: 20px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  background-color: #5e548e;
  border-radius: 6px;
  cursor: pointer;
  transition: .1s ease-in-out; }
  .new-post:hover {
    transform: scaley(1.1);
    outline: 1px solid rgba(224, 177, 203, 0.1);
    box-shadow: 0 0 6px 4px rgba(224, 177, 203, 0.6); }
    .new-post:hover .fa-plus {
      transform: scalex(1.1); }
  .new-post .fa-plus {
    font-size: 32px;
    place-self: center;
    transition: .1s ease-in-out;
    cursor: pointer; }

.posts {
  max-width: 800px;
  justify-self: center;
  display: grid;
  gap: 40px; }
  .posts .post {
    padding: 20px;
    background-color: #5e548e;
    border-radius: 6px; }
    .posts .post .title {
      margin: 0 0 15px 0;
      font-size: 36px;
      font-weight: 600;
      color: #f3e0ea;
      text-decoration: none;
      transition: .1s ease-in-out; }
      .posts .post .title:hover {
        color: #f9f0f5; }
    .posts .post .subtitle {
      display: flex;
      justify-content: space-between; }
      .posts .post .subtitle h4 {
        display: inline;
        align-self: center;
        margin-top: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500; }
      .posts .post .subtitle .coords {
        font-size: 15px; }
    .posts .post img {
      width: 100%;
      max-height: 600px;
      border-radius: 4px;
      object-fit: cover;
      object-position: 50% 40%; }
    .posts .post .description, .posts .post .description-full {
      font-size: 18px; }
      .posts .post .description span, .posts .post .description-full span {
        margin-left: 10px;
        color: #e0b1cb;
        cursor: pointer; }
        .posts .post .description span:hover, .posts .post .description-full span:hover {
          color: #f3e0ea;
          font-weight: 600; }
    .posts .post .description-full {
      display: none; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgba(94, 84, 142, 0.7);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  transition: .2s ease-in-out; }

@media only screen and (max-width: 450px) {
  .modal {
    height: 100vh;
    width: 100vw; }
    .modal h3 {
      margin-top: 10px; }
    .modal .buttons {
      display: flex;
      justify-content: space-around;
      margin-top: 30px; } }

/*# sourceMappingURL=posts.css.map */