{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/jpg" href="https://static.thenounproject.com/png/811327-200.png"/>

    <!-- Local Styles -->
    <link rel="stylesheet" href="{% sass_src 'styles/main.scss' %}">
    {% block styles %}{% endblock styles %}

    <!-- Local Scripts -->
    <script src="{% static 'scripts/posts.js'%}" defer></script>
    {% block scripts %}{% endblock scripts %}

    <title>Shooting Stars</title>
</head>
<body>

    <!-- Navbar -->
    <nav>
        <a class="logo" href="/" title="Shooting Stars Home">
            Shooting Stars
        <!-- WIP -->
        {% comment %} <div class="star"></div> {% endcomment %}
        </a>

        <section class="nav-right">

        {% if user.is_authenticated %}
            <div class="words">
                <a href="/posts" title="All Posts" class="nav-link">Posts</a>   
                <div class="dropdown">
                    <a onClick="dropdown()" class="nav-link">{{user.username}}</a>
                    <div class="dropdown-content">
                        <a href="/posts/?user={{user.pk}}" title="See your posts">Your Posts</a>
                        <a onClick="userUpdate()" title="User location update">Change Location</a>
                        <a href="{% url 'logout' %}" title="User logout">Logout</a>  
                    </div>
                </div>
            </div>

            <div class="burger">
                <div class="dropdown">
                    <i class="fas fa-bars" onClick="dropdown()"></i>
                    <div class="dropdown-content">
                        <a href="/posts" title="All Posts">All Posts</a>   
                        {% comment %} <a href="#" title="See your posts">Your Posts</a> {% endcomment %}
                        <a href="{% url 'logout' %}" title="User logout">Logout</a>  
                    </div>
                </div>
            </div>
        {% else %}
            <div class="words">
                <a href="/posts" title="All Posts" class="nav-link">Posts</a>   
                <a onClick="login()" title="User login" class="nav-link">Login</a>
                <a onClick="modal()" title="User signup" class="nav-link">Signup</a>
            </div>

            <div class="burger">
                <i class="fas fa-bars" onClick="dropdown()"></i>
                <div class="dropdown">
                    <div class="dropdown-content">
                        <a href="/posts" title="All Posts">Posts</a>   
                        <a onClick="login()" title="User login">Login</a>
                        <a onClick="modal()" title="User signup">Signup</a>
                    </div>
                </div>
            </div>
        {% endif %}

        </section>
    </nav>

    <!-- Content block for extension pages -->
    <main>
        {% block content %}{% endblock content %}

        {% if user.is_authenticated %}  
            <div class="overlay" onClick="overlay();"></div>

            <form class="user-update" action="{% url 'user_update' user.pk %}" method="POST">
                <h3>Update Location</h3>
                {% csrf_token %}
                {{location_form.as_p}}
                <input type="hidden" value="{{request.path}}" name="redirect">
                <div class="buttons">
                    <button type="button" onClick="modal()">Cancel</button>
                    <input class="button" type="submit" value="Submit"></input>
                </div>
            </form>
        {% else %}
            <div class="overlay" onClick="overlay();"></div>

            <form class="modal" action="{% url 'signup' %}" method="POST">
                <h3>Sign Up</h3>
                {% csrf_token %}
                {{signup_form.as_p}}
                <input type="hidden" value="{{request.path}}" name="redirect">
                <div class="buttons">
                    <button type="button" onClick="modal()">Cancel</button>
                    <input class="button" type="submit" value="Submit"></input>
                </div>
            </form>

            <form class="login" action="{% url 'login' %}" method="POST">
                <h3>Login</h3>
                {% csrf_token %}
                {{login_form.as_p}}
                <div class="buttons">
                    <button type="button" onClick="login()">Cancel</button>
                    <input class="button" type="submit" value="Submit"></input>
                </div>
            </form>
        {% endif %}

        {% if messages %}
            {% for message in messages %}
                <section class="message">
                    <p>{{message}}</p>
                    <i class="fas fa-times" onClick="message()"></i>
                </section>
            {% endfor %}
        {% endif %}
    </main>

</body>
</html>