{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" href="{% sass_src 'styles/home.scss' %}">
{% endblock styles %}

{% block scripts %}
<script src="{% static 'scripts/weatherApi.js' %}" defer></script>
<script src="{% static 'scripts/posts.js' %}" defer"></script>
{% endblock scripts %}


{% block content %}

    <h1>Search a Spot</h1>

    <form class="search" action="/" method="GET">
        <input 
        name="place"
        type="search"
        placeholder="Decimal coordinates, zip, or city"
        >
    </form>

    <h2 id="place-header">Loading...</h2>

{% comment %} 
    <section class="iframe">
        <iframe src="https://www.lightpollutionmap.info/#zoom=2.20&lat=39.7242&lon=-98.5634&layers=B0FFFFFFFTFFFFFFFFFF" title="description"></iframe>
    </section>
 {% endcomment %}

    {% comment %} <iframe src="https://www.timeanddate.com/sun/@2168925"></iframe> {% endcomment %}

    
    <section class="info">

        <div class="box">
            <h3>Sun Position</h3>
            <p id="sunrise"></p>
            <p id="sunset"></p>
        </div>

        <div class="box">
            <h3>Moon Position</h3>
            <p id="moonrise"></p>
            <p id="moonset"></p>
        </div>

        {% comment %} <div class="box">
            <h3>Lunar Phase</h3>
            <p id="phase"></p>
            <p id="illumination"></p>
        </div> {% endcomment %}

        {% comment %} <div class="box">
            <h3>Milky Way</h3>
            <p id="phase"></p>
            <p id="illumination"></p>
        </div> {% endcomment %}
        
        <div class="box hourly">
            <h3>Hourly Clouds</h3>
            <div class="chart-container">
                <canvas id="cloudChart"></canvas>
            </div>
            
        </div>

        <div class="box hourly">
            <h3>Hourly Wind</h3>
            <div class="chart-container">
                <canvas id="windChart"></canvas>
                </div>
        </div>

        <section class="iframe">
            <iframe id="iframe" src=""></iframe>
        </section> 

            <form class="modal" action="{% url 'signup' %}" method="POST">
        <h3>Create A User</h3>
        {% csrf_token %}
        {{signup_form.as_p}}
        <div class="buttons">
            <button onClick="modal()">Cancel</button>
            <input class="button" type="submit" value="Submit"></input>
        </div>
    </form>


    </section>



{% endblock content %}