{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" href="{% sass_src 'styles/home.scss' %}">
{% endblock styles %}

{% block scripts %}
<script src="{% static 'scripts/weatherApi.js' %}" defer></script>
<script src="{% static 'scripts/posts.js' %}" defer></script>
{% endblock scripts %}




{% block content %}

    {% if user.is_authenticated %}
    <script>
        const userPlace = "{{user.location}}";
    </script>
    {% endif %}

    <h1>Search a Spot</h1>

    <form class="search" action="/" method="GET">
        <input 
        name="place"
        type="search"
        placeholder="Decimal coordinates, zip, or city"
        >
    </form>

    <h2 id="place-header">Loading...</h2>

{% comment %} 
    <section class="iframe">
        <iframe src="https://www.lightpollutionmap.info/#zoom=2.20&lat=39.7242&lon=-98.5634&layers=B0FFFFFFFTFFFFFFFFFF" title="description"></iframe>
    </section>
 {% endcomment %}

    {% comment %} <iframe src="https://www.timeanddate.com/sun/@2168925"></iframe> {% endcomment %}

    
    <section class="info">

        <a class="box timedate" href="https://www.timeanddate.com/astronomy/@" target="_blank" title="timeanddate.com, advanced position info">
            
            <div class="box-inner">
                <!-- Setting Rise and Set at the top-->
                <div class="rise-set">
                    <h3 style="border: none">Position</h3>
                    <div class="set">
                        Set
                        <i class="fas fa-long-arrow-alt-down"></i>
                    </div>
                    <div class="rise">
                        Rise
                        <i class="fas fa-long-arrow-alt-up"></i>
                    </div>
                </div>

                <!-- Individual Stellar Objects -->
                <div class="object">
                    <i class="fas fa-sun"></i>
                    <p>Sun</p>
                </div>
                <div class="m"><p id="sunset"></p><span id="sunsetM"></span></div>
                <div class="m"><p id="sunrise"></p><span id="sunriseM"></span></div>


                <div class="object">
                    <i class="fas fa-moon"></i>
                    <p>Moon</p>
                    <span id="lum"></span>
                </div>
                <div class="m"><p id="moonset"></p><span id="moonsetM"></span></div>
                <div class="m"><p id="moonrise"></p><span id="moonriseM"></span></div>
            </div>

        </a>

        <div class="box">
            <h3>Other Factors</h3>
            <p id="humidity"></p>
            <p id="temp"></p>
        </div>

        {% comment %} <div class="box">
            <h3>Lunar Phase</h3>
            <p id="phase"></p>
            <p id="illumination"></p>
        </div> {% endcomment %}

        {% comment %} <div class="box">
            <h3>Milky Way</h3>
            <p id="phase"></p>
            <p id="illumination"></p>
        </div> {% endcomment %}
        
        <div class="box hourly">
            <h3>Hourly Clouds</h3>
            <div class="chart-container">
                <canvas id="cloudChart"></canvas>
            </div>
            
        </div>

        <div class="box hourly">
            <h3>Hourly Wind</h3>
            <div class="chart-container">
                <canvas id="windChart"></canvas>
                </div>
        </div>

        <section class="iframe">
            <iframe id="iframe" src=""></iframe>
        </section> 




    </section>


{% endblock content %}