{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" href="styles/posts.css">
{% endblock styles %}


{% block content %}
<h1>Posts I did it!</h1>

<h2>All Posts</h2>

{% for post in posts  %}

<article class="post">
    <h3 class="title">{{post.title}}</h3>
    <p class="coords">{{post.lat}}, {{post.long}}</p>
    <img src="{{post.image}}" alt="Post image">
    <p class="description">{{post.description}}</p>
</article>


{% endfor %}

{% endblock content %}