{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block styles %}
<link rel="stylesheet" href="{% sass_src 'styles/posts/post_detail.scss'%}">
{% endblock styles %}


{% block content %}

<!-- Post Display -->
<article class="post">
    <div class="main-title">
        <h3 class="title">{{post.title}}</h3>
        <a href="https://www.google.com/maps/place/{{post.lat}},{{post.long}}" target="_blank" title="See Location on Google Maps">
            <i class="fas fa-map-marker-alt"></i>
        </a>
    </div>
    
    <div class="subtitle">
        <a href="/posts/?user={{user.pk}}" title="See user's posts">{{post.user.username}}</a>
        <a class="coords" href="/posts/?q={{post.lat|slice:5}}%2C+{{post.long|slice:6}}" title="Search posts from this area">{{post.lat}}, {{post.long}}</a>
    </div>
        <a href="{{post.image}}" target="_blank" title="See full sized image">
            <img src="{{post.image}}" alt="Post image">
        </a>
    <p class="description">
        {{post.description}}
    </p>
    
    {% if user.pk == post.user.pk %}
    <div class="buttons">
        <button onClick="modal()" style="margin-right: 0" class="cancel">Delete</button>
        <button onClick="edit()" style="margin-right: 5px">Edit</button>
    </div>
    {% endif %}
</article>

<!-- Delete Modal -->
{% if user.pk == post.user.pk %}
<div class="overlay" onClick="overlay()"></div>
<form class="modal" action="{% url 'post_delete' post.pk %}" method="POST">
        {% csrf_token %}
        <h2>Are you sure you want to delete this post?</h2>
        <div class="buttons">
            <a class="button cancel" role="button" onclick="modal()">Cancel</a>
            <button>Delete</button>
        </div>
</form>

<form class="edit" action="{% url 'post_update' post.pk %}" method="POST">
    <h3>Edit Your Post</h3>
    {% csrf_token %}
    {{form.as_p}}
    <div class="buttons">
        <a onClick="edit()" role="button" class="button cancel">Cancel</a>
        <input class="button" type="submit" value="Submit"></input>
    </div>
</form> 
{% endif %}



{% endblock content %}