@import '../variables';

.post {
    padding: 20px;
    background-color: $meddark;
    border-radius: 6px;

    .title {
        font-size: 42px;
        margin: 0 0 16px 0;
    }

    .subtitle {
        display: flex;
        justify-content: space-between;

        h4 {
            display: inline;
            align-self: center;
            margin-top: 0;
            margin: 0;
            font-size: 18px;
            // font-weight: 600;
        }

        .coords {
            font-size: 15px;
        }
    }

    img {
        width: 100%;
        border-radius: 4px;
    }

    .description {
        font-size: 18px;
    }
}

.modal {
    height: 160px;
    margin-top: -80px;

    h2 {
        margin-top: 0;
    }

}

.edit {
    display: none;
    height: 610px;
    margin-top: -305px;

    input {
        margin-bottom: 10px;
    }
}